<% provide :title, 'Home' %>
<div class="row">
  <div class="col-md-12 columns text-center">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=Yogyakarta,Indonesia&zoom=12&size=500x200&maptype=roadmap&scale=2">
  <hr>
  </div>
</div>
<div class="row">
  <% @places.each do |place| %>
    <div class="col-md-3 columns place-item">
      <img src="http://placehold.it/200x150&text=Place%20Image" class="img-thumbnail">
      <h2><%= place.name %></h2>
      <p><em>Posted at: <%= time_ago_in_words place.created_at %> ago</em></p>
      <p><%= truncate place.description, length: 50  %></p>
      <div class="pull-right">
        <img src="http://placehold.it/20x20">
        <small>By: Someone</small>
      </div>
    </div>
  <% end %>
</div>
