<% provide :title, @user.name %>

<h2>
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  <%= @user.name %>
</h2>
<div class="row">
  <div class="columns col-md-5">
    <div class="row">
      <div class="columns col-md-3">
        <img src="http://placehold.it/100x100">
      </div>
      <div class="columns col-md-9">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        Email: <%= mail_to @user.email %>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <% if @user.places.any? %>
      <h3>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Places (<%= @user.places.count %>)
      </h3>
      <ul>
        <% @user.places.each do |place| %>
          <li><%= link_to place.name, place %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
